* {
  box-sizing: border-box;
}

ul {
  list-style: none; /* Removes default list styles */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  background: #000; /* Dark background for the header */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.header-wrapper .logo h2 {
  color: #fff; /* White color for the logo text */
  font-size: 32px;
  font-family: "san serif";
}

.header-wrapper .hamburger-icon {
  position: relative;
  width: 50px;
  height: 25px;
  cursor: pointer; /* Indicates this element is clickable */
}

.header-wrapper .hamburger-icon span,
.header-wrapper .hamburger-icon span:last-child {
  position: absolute;
  height: 2px;
  background: #fff; /* White color for the hamburger icon */
  display: inline-block;
  transition: 0.2s ease all;
}

.header-wrapper .hamburger-icon span {
  width: 50px;
  top: 0;
}

.header-wrapper .hamburger-icon span:last-child {
  top: 10px;
  right: 0;
  width: 30px; /* Shorter width for the bottom bar of the icon */
}

.header-wrapper .hamburger-icon.active span:last-child {
  top: 12px;
  transform: rotate(-40deg);
  right: 9px; /* Aligns rotation pivot to the right */
}

.header-wrapper .hamburger-icon.active span:first-child {
  top: 13px;
  transform: rotate(40deg);
  left: 11px; /* Aligns rotation pivot to the left */
  width: 30px; /* Matches modified width for consistent style */
}

.header-wrapper .mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #000; /* Consistent background with the header */
  width: 100%;
  height: 0; /* Initially hidden */
  overflow: hidden;
  transform: scaleY(0);
  opacity: 0; /* Transition for fade in */
  transition: 0.5s ease all;
  transform-origin: top;
}

.header-wrapper .mega-menu.active {
  height: auto; /* Expands to fit content */
  transform: scaleY(1);
  opacity: 1; /* Makes it fully visible */
}

.header-wrapper .mega-menu ul li {
  color: #fff; /* White text for menu items */
  padding: 8px 10px; /* Padding for touch targets */
  margin-bottom: 10px; /* Spacing between menu items */
}

.header-wrapper .mega-menu ul li a {
  color: white; /* Ensures text is white */
  text-decoration: none; /* No underlines on links */
  transition: color 0.3s; /* Smooth transition for color change */
}

.header-wrapper .mega-menu ul li a:hover {
  color: #ccc; /* Light gray for hover effect */
}
